.header{
    display: flex;
}
.header h3{
    flex: 1;
    font-size: 40px;
}
.header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.header ul li{
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}